<!DOCTYPE html>
<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <article>
            <time>published: 21.03.2022, 3:12 PM</time>
            <h2><a href="">My first post</a></h2>
            <p>Allot had been done this week!.</p>
        </article>

        <article>
            <time>published: 21.3.2022, 3:13 PM 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>More blogging just for content</p>
        </article>
    </body>
</html>